.social-media{
    .first-img{
    width: 25px;
    height: 25px;
    margin-left: 10px;
}
.scnd-img{
    width: 30px;
    height:30px;
    margin-left: 10px;
}
}
p,h5{
    font-family: 'arial','Poppins',Helvetica,Arial,Lucida,sans-serif;
}
footer{
    background-color: #F5F5F5;
}