<!-- Footer -->
<footer class="text-center text-lg-start text-muted">

    <section class=" ">
      <div class="container-fluid text-center text-md-start ">
        <!-- Grid row -->
        <div class="row ">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 mt-5">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>Follow Us
            </h6>
           <div class="social-media">
           <a href="https://www.facebook.com/Credzpay-Fintech-Private-Limited-115402364893531" target="_blank"><img class="first-img" src="assets/facebook.svg"  alt="Facebook"></a>
             <!-- <img src="assets/instagram.svg" alt="instagram"> -->
           <a href="https://twitter.com/CREDZPAY" target="_blank"><img class="first-img" src="assets/twitter.svg" alt="twitter"></a>  
           <a target="_blank" href="https://www.linkedin.com/company/credzpay-fintech-private-limited/?viewAsMember=true"><img class="scnd-img" src="assets/linkedin.svg" alt="LinkedIn"></a>
           <a target="_blank" href="https://www.youtube.com/channel/UCryVpnt8c3SuGKcw2JKsDQw"><img class="scnd-img" src="assets/youtube.svg" alt="You Tube"></a>
           </div>
           <div class="mx-auto mt-3">
            <p> © 2023, All Rights Reserved </p>
           </div>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 mt-5">
            <!-- Links -->
            <p class="text-uppercase fw-bold mb-2">Contact</p>
            <p class="text-uppercase fw-bold mb-2">Email id</p>
            <p class="text-uppercase fw-bold mb-2">Contact Us</p>
            
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  </footer>
  <!-- Footer -->