.navbar {
    background-color: #FF7A7A;
    position: relative;
    z-index: 99;
}

p,
a,
button,
.nav-link:hover {
    font-family: 'arial','Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}

.logo-txt{
    padding-left: 15px;
}
.nav-txt {
    padding-left: 10px;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}

.nav-link {
    img {
        width: 21px;
        height: 25px;
    }
}
.navlink-toggle-btn{
    background-color: transparent;
    border: 0;
}
.asstes-txt { 
    .assets-submenu{
    display: none ;
}
}
.asstes-txt:hover{ 
    .assets-submenu{
        position:absolute;
        z-index: 999;
        display: block ;
        width: auto;
        background-color: #FFFFFF;
        border: 1px solid #FF7A7A;
        min-width: 130px;
        padding: 10px;
        
    }
    .assets-list{
        padding-top: 10px;
    }
    .assets-submenu{ 
        a{ 
            font-family: 'arial','Poppins',Helvetica,Arial,Lucida,sans-serif;
        font-size: 16px;
        color: #000;
        text-decoration: none;
        }
    }
}
.dropdown{
    button{
        padding-left: 0 !important;
    }
}
.dropdown-menu{
    margin-left: 5px;
    background-color: #FFFFFF;
    border:1px solid #FF7A7A;
    padding: 10px;
}
a{
    cursor: pointer;
}

.modal-body{
 background-color: #FF7A7A;
 text-align: center;
 border-radius: 50px;
 width: 450px;
 height: 300px;
 margin: 0 auto;
 display:flex;
 flex-direction: column;
 align-items: center;
 justify-content:center; 
 button{
    background-color: #FFFFFF;
    font-family: 'arial','Poppins',Helvetica,Arial,Lucida,sans-serif;
    color: #FF7A7A;
    border: none;
    padding: 7px 14px;
    border-radius: 10px;
 }
}

.modal-content{
    background: transparent;
    border: none;
}
@media only screen and (min-width: 992px) {
    .nav-item{
        padding-left:40px;
    }
}
@media only screen and (max-width: 797px) {
    .modal-body{
        width: 100%;
        height: auto;
    }
}
.navbar-logo,.logo-txt{
    cursor: pointer;
}


.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
  border-bottom: 2px solid #fff; 
  color: #FFFFFF;
}