<nav class="navbar navbar-expand-lg">
    <div class="container">
        <div class="navbar-logo" routerLink="/home">
            <img src="assets/navbar_logo.png" alt="Logo">
        </div>
        <p class="logo-txt" routerLink="/home">Assets Square</p>

        <button _ngcontent-ota-c38="" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation"
            class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
            <span></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link nav-txt" routerLink="/home" routerLinkActive="active">
                        Home
                    </a>
                </li>
                <li class="nav-item asstes-txt">
                    <a class="nav-link nav-txt" routerLink="/asset-List" routerLinkActive="active">
                        Assets List
                    </a>
                    <!-- <ul class="assets-submenu list-unstyled">
                        <li><a routerLink="/add-assets" routerLinkActive="active" >Add Assets</a> </li>
                        <li class="assets-list"> <a routerLink="/asset-List" routerLinkActive="active">Assets List</a></li>
                    </ul> -->
                </li>
                <li class="nav-item" >
                    <a class="nav-link" routerLink="/add-assets" routerLinkActive="active">
                   Add Assets
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" x data-bs-toggle="modal" data-bs-target="#logoutModal">
                        <img src="assets/logout.svg" alt="Register"><span class="nav-txt">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


  
  <!-- Modal -->
  <div class="modal logout-modal" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
        <div class="modal-body mx-auto">
            <div><p>Are you sure to Logout?</p></div>
            <br>
            <div class="buttons">
                <div class="row">
                    <div class="col">
                        <button routerLink="/login" (click)="logout()">Yes</button>
                    </div>
                    <div class="col"> <button data-bs-dismiss="modal" class="no-btn">No</button></div>
                </div>
            </div>
          
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
