<app-register-login-navbar></app-register-login-navbar>

<div class="text-center bg-image">
  <div class="mask">
    <div class="register-card">
      <div class="">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Login</h5>

            <form [formGroup]="loginForm" (ngSubmit)="login(this.loginForm.value)">
              <div>
                <input id="email" type="email" formControlName="email" placeholder="E-mail Id" required/>
                <div *ngIf="loginForm.controls['email'].hasError('required') && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
                  <p class="text-danger mb-0">Please enter Email</p>
                </div>
                <div *ngIf="loginForm.controls['email'].hasError('pattern') && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
                  <p class="text-danger mb-0">Please enter Valid Email</p>
                </div>
              </div>

              <div>
                <input id="pwd" type="password" formControlName="password" placeholder="Password" required/>
                <div *ngIf="loginForm.controls['password'].hasError('required') && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                  <p class="text-danger mb-0">Please enter password</p>
                </div>
                <div *ngIf="loginForm.controls['password'].hasError('minlength') && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                  <p class="text-danger mb-0">Minimum length is 5</p>
                </div>
              </div>

              <div>
                <button class="button" type="submit" mat-raised-button>Login</button>
                <p>
                  Don't have an account?
                  <a class="signin" routerLink="/register"> Register</a>
                </p>
              </div>
              <p class="login-txt text-danger" *ngIf="textShow1">
                Oops!.... Error Occured
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
