.navbar {
    background-color: #FF7A7A;
}

p,
a,
.nav-link:hover {
    font-family: 'arial','Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}

.logo-txt,
.nav-txt {
    padding-left: 15px;
}

.nav-link {
    img {
        width: 21px;
        height: 25px;
    }
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    border-bottom: 2px solid #fff; 
    color: #FFFFFF;
  }
  @media only screen and (min-width: 991px) {
    .nav-item{
        margin: 0px 10px;
    }
  }