p,label,input,input[placeholder]{
    font-family: 'arial','Poppins',Helvetica,Arial,Lucida,sans-serif;
    // font-size: 16px;
    color: #000;
    text-decoration: none;
}

select{
    border: 1px solid black;
    text-align: center;
    width: 200px;
    border-radius: 20px;
    height: 40px;
    font-size: 18px;
    // font-weight: bold;
}

select:focus{
  outline: none;
}

input:focus{
    outline: none;
}

textarea:focus{
    outline: none;
}

.doc-upload{
    input{
        font-family: 'arial','Poppins',Helvetica,Arial,Lucida,sans-serif;
        font-size: 12px;
        padding: 5px 0;
        width: 200px;
    }
    background: none;
}

.addDoc-Btn, .addImg-Btn{
    width: max-content;
    border: none;
    border-radius: 5px;    
}

.addDoc-Btn{
    margin-bottom: 10px;
}

.deleteDoc-Btn{
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 5px;
    margin-bottom: 8px;
    padding-bottom: 5px;
    // justify-items: ;
}

.deleteImg-Btn{
    width: 32px;
    height: 32px;
    border: none;
    background: none;
    // color: white;
    padding-bottom: 5px;
    position: relative;
    top: 25px;
    left: 115px;
}

.select-assetType{
    margin-left: 20px;
    width: 28%;
}

p{
    font-size: 20px;
    // font-weight: 500;
    padding-top: 5px;
}

option{
    font-family: 'arial','Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    color: #000;
    text-decoration: none;   
}
  
.first-dropdowwn{
    margin-top: 20px;
    padding-left: 40px;
    width: 100%;
}

.text-danger{
    font-size: 18px !important;
    padding-left: 40px;
}

.row{
    width: 100%;
}

.img-container{
    // padding: 10px;
    text-align: center;
    .previewScreen{
        width: 250px;
        height: 250px;
    }
    input{
        font-family: 'arial','Poppins',Helvetica,Arial,Lucida,sans-serif;
        font-size: 12px;
    }
}

.input-fields{
    .col{
        padding: 10px;
    }
    textarea{
        width: 100%;
        height: 200px;
        border-radius: 10px;
        padding: 10px;
    }
    .input{
        padding: 10px 20px;
    }
    input{
        width: 100%;
        border-radius: 10px;
        padding: 10px;
        border: 1px solid black;
        // margin-left: 10px;
    }
}

#hidearrows::-webkit-inner-spin-button, #hidearrows::-webkit-outer-spin-button { 
    -webkit-appearance: none; margin: 0; 
}

.submit-btn{
    font-family: 'arial','Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-size: 22px;
    color:#fff;
    // font-weight: 500;
    background-color: #FF7A7A;
    border: 0;
    border-radius: 10px;
    padding: 8px 18px;
    margin: 10px 0;
}

@media only screen and (max-width: 672px){
    .first-dropdowwn,.text-danger{
        padding-left: 10px;
    }
    .asset-detail{
        text-align: center;
    }  
}

@media only screen and (max-width: 797px)  {
    .col-sm-6{
       text-align: center;
       padding: 10px;
    }
    .row{
       text-align: center;
    }
    .doc-upload{
       text-align: center;
    }
    
}

@media only screen and (min-width:768px) and (max-width: 991px)  {
    .assetDetailFifthSelect,.assetDetailFourthSelect{
        padding-top: 15px;
    }
    .img-container{
        input{
            width: 200px;
        }
    }
    .first-dropdowwn{
        
        padding: 0px 30px;
    }
}

@media only screen and (min-width:992px) and (max-width: 1114px)  {
    .assetDetailFifthSelect{
        padding-top: 15px;
    }
    .img-container{
        input{
            width: 200px;
        }
    }
}